{name, "meck"}.
{authors, ["Adam Lindberg <eproxus@gmail.com>"]}.
{description, "A mocking library for Erlang"}.
{homepage, "http://eproxus.github.com/meck"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/eproxus/meck.git", {tag, "0.6.3"}}}.
{applications, [meck]}.
